@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaNewDemi";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaNewDemi/FuturaNewDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi/FuturaNewDemi.woff") format("woff"), url("../fonts/FuturaNewDemi/FuturaNewDemi.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaNewBook";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaNewBook/FuturaNewBook.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook/FuturaNewBook.woff") format("woff"), url("../fonts/FuturaNewBook/FuturaNewBook.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaNewHeavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaNewHeavy/FuturaNewHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewHeavy/FuturaNewHeavy.woff") format("woff"), url("../fonts/FuturaNewHeavy/FuturaNewHeavy.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaNewBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaNewBold/FuturaNewBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBold/FuturaNewBold.woff") format("woff"), url("../fonts/FuturaNewBold/FuturaNewBold.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaNewMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaNewMedium/ftn55.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewMedium/ftn55.woff") format("woff"), url("../fonts/FuturaNewMedium/ftn55.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaLight-NormalRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaLight-NormalRegular/FuturaLight-NormalRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaLight-NormalRegular/FuturaLight-NormalRegular.woff") format("woff"), url("../fonts/FuturaLight-NormalRegular/FuturaLight-NormalRegular.ttf") format("truetype"); }
